**/bin
**/obj
**/publish
**/.vs
.idea
.vscode
.DS_Store
/_ReSharper.Caches
/packages
/StellaServerConsole/Properties/launchSettings.json
/StellaClientCpp/StellaClientCpp.vcxproj.user
/StellaClientCpp/StellaClientCpp.vcxproj.filters
/StellaClientCpp.Test/StellaClientCpp.Test.vcxproj.user
/StellaClientCpp.Test/StellaClientCpp.Test.vcxproj.filters
/StellaClientCpp.Test/Debug
/Debug
/StellaClientCpp/Debug
